extend templates/_template

block main

    main
        section.news
            div.news-card
                h1.news-card__title The Top 100 Mountain Tops
                h4.news-card__author By: Benjamin Taylor
            div.news-card
                h1.news-card__title Small Football Game leads to Large Glory
                h4.news-card__author By: Benjamin Taylor
            div.news-card
                h1.news-card__title Plant Matter linked to Plants
                h4.news-card__author By: Benjamin Taylor
            div.news-card
                h1.news-card__title City Reports 2018
                h4.news-card__author By: Benjamin Taylor
            div.news-card
                h1.news-card__title Three Brothers
                h4.news-card__author By: Benjamin Taylor
            div.news-card
                h1.news-card__title Mix these things for Breakfast
                h4.news-card__author By: Benjamin Taylor
        section.stories
            article.story
        
