doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title News Grid
    meta(name='description', content='')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    link(rel='stylesheet', href='styles.css')
    style.
  body
    nav(class="nav")
      .menu-button
        .menu-button__menu-grid
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='-60 -50 400 400')
            g.rectangles
              rect(y='220', width='70', height='70')
              rect(y='110', width='70', height='70')
              rect(width='70', height='70')
              rect(x='110', y='220', width='70', height='70')
              rect(x='110', y='110', width='70', height='70')
              rect(x='110', width='70', height='70')
              rect(x='220', y='220', width='70', height='70')
              rect(x='220', y='110', width='70', height='70')
              rect(x='220', width='70', height='70')
        .menu-button__menu-text MENU
    .menu
      .exit
        svg#exit-icon(width='64', xmlns='http://www.w3.org/2000/svg', height='64', viewbox='0 0 64 64')
          path.exit-path(d='M28.941 31.786L.613 60.114a2.014 2.014 0 1 0 2.848 2.849l28.541-28.541 28.541 28.541c.394.394.909.59 1.424.59a2.014 2.014 0 0 0 1.424-3.439L35.064 31.786 63.41 3.438A2.014 2.014 0 1 0 60.562.589L32.003 29.15 3.441.59A2.015 2.015 0 0 0 .593 3.439l28.348 28.347z')
      .menu-module
        ul.menu-list
          li.menu-list__menu-item 
            h3 Home
          li.menu-list__menu-item 
            h3 About
          li.menu-list__menu-item 
            h3 Contact
          //- li.menu-list__menu-item 
          //-   h3 People
          //- li.menu-list__menu-item 
          //-   h3 Benefits
      .menu-module
        h3.menu-header News Theme
        .menu-grid
          .menu-grid__property.red
          .menu-grid__property.indigo.default
          .menu-grid__property.orange
          .menu-grid__property.orangered
          .menu-grid__property.green
          .menu-grid__property.blue
          .menu-grid__property.slateblue
          .menu-grid__property.violet
          .menu-grid__property.gray
      .menu-module
        .dark-mode
          h3.menu-header Dark Mode
          div.dark-mode-toggle 
            svg.dark-mode-button(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 58 34')
              path.background.cls-1(d='M17 0h24a17 17 0 0 1 17 17 17 17 0 0 1-17 17H17A17 17 0 0 1 0 17 17 17 0 0 1 17 0z')
              g.sun
                path.cls-2(d='M15.59 13.41a3.77 3.77 0 1 0 3.77 3.77 3.78 3.78 0 0 0-3.77-3.77zM15.59 12.31a.74.74 0 0 1-.74-.74v-1.18a.74.74 0 0 1 1.47 0v1.18a.74.74 0 0 1-.73.74zM15.59 22.07a.74.74 0 0 0-.74.74V24a.74.74 0 1 0 1.47 0v-1.2a.74.74 0 0 0-.73-.73zM19 13.74a.74.74 0 0 1 0-1l.83-.83a.74.74 0 1 1 1 1l-.83.83a.74.74 0 0 1-1 0zM12.13 20.64a.74.74 0 0 0-1 0l-.83.83a.74.74 0 0 0 1 1l.83-.83a.73.73 0 0 0 0-1zM20.47 17.19a.74.74 0 0 1 .74-.74h1.18a.74.74 0 1 1 0 1.47H21.2a.74.74 0 0 1-.73-.73zM10.7 17.19a.74.74 0 0 0-.7-.74H8.79a.74.74 0 1 0 0 1.47H10a.74.74 0 0 0 .7-.73zM19 20.64a.74.74 0 0 1 1 0l.83.83a.74.74 0 0 1-1 1l-.83-.79a.74.74 0 0 1 0-1.04zM12.13 13.74a.74.74 0 0 0 0-1l-.83-.83a.74.74 0 0 0-1 1l.83.83a.74.74 0 0 0 1 0z')
              path.moon.cls-2(d='M35.16 20.06a7.2 7.2 0 1 0 7.31-10 6.22 6.22 0 1 1-7.31 10z')
              circle.toggle-button.cls-2.dark-active(cx='16.25', cy='17', r='12')
        //- hr

    block main

    script(src='js/main.js')
    footer